<h1>ALL Product List </h1>
<table border=1>
    <tr>
        <th>ID </th>
        <th>Product Name </th>
        <th> Product Price</th>
    </tr>
    <tr *ngFor="let product of product_list">
        <td>{{product.id}}</td>
        <td>{{product.pname}}</td>
        <td>{{product.price}}</td>
    </tr>
</table>